{{> cabeza}}


<h1>{{pageName}}</h1>

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
	distinctio nulla recusandae ipsam, deleniti laudantium tenetur officiis
	delectus nesciunt molestias quibusdam quae omnis nemo hic excepturi temporibus
	nostrum repellendus placeat.</h2>

{{> pie}}